/* collapsible code */
/* :root {
    --hljs-bg: rgb(245, 245, 245);
    --code-bg: rgb(245, 245, 245);
}

.dark {
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
} */

.highlight-wrapper {
    position: relative;
}

.highlight-link {
    position: absolute;
    bottom: 0;
    right: 0;
}
