:root {
    --brightness: 1;
    --inline-entry: rgb(245, 245, 245);
}

.dark {
    --brightness: 0.8;
    --inline-entry: rgb(46, 46, 51);
}

/* Footer */
.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    background: var(--tertiary);
    width: 42px;
    height: 42px;
    padding: 12px;
    border-radius: var(--radius);
    transition: visibility 0.5s, opacity 0.8s linear;
}


/* Post inline */

.post-content figure img {
    filter: brightness(var(--brightness));
}

.inline-entry-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: space-between;
    /* flex: 1; */
    /* flex-grow: 0; */
    /* justify-content: space-between; */
    /* align-content: space-between; */
    /* row-gap: 10px; */
    /* column-gap: 2em; */
    /* display: grid; */
    /* grid-auto-flow: column; */
    /* grid-column-gap: 5px; */
}

.inline-entry {
    box-sizing: border-box;
    /* flex-grow: 1; */
    width: 320px;
    flex-basis: 320px;
    position: relative;
    margin-right: auto;
    margin-bottom: var(--gap);
    /* padding: var(--gap); */
    background: var(--inline-entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
    /* width: 48%; */
    /* height: 150px; */
    /* height: 15vh; */

    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* align-content: space-between; */
}

.inline-entry:active {
    transform: scale(0.96);
}

.inline-entry div {
    /* position: absolute;
    justify-content: center;
    justify-self: center; */
    /* height: 100%; */
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.inline-entry-header {
    display: flex;
}

.inline-entry-header h2 {
    font-size: 28px;
    /* font-size: 5vw; */
    margin: 32px auto;
    text-align: center;
}

.inline-entry-content {
    text-align: center;
}

.inline-entry a {
    box-shadow: none;
}

.inline-entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.inline-entry-cover-mask {
    margin-bottom: var(--gap);
    border-radius: var(--radius);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: var(--cover-mask);
    /* opacity: 30%; */
}

.inline-entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    margin: 0%;
    /* opacity: 30%; */
}