/* Cover image of project cover */
:root {
    --gap: 24px;
    --radius: 8px;
    --title-color: rgb(255, 255, 255);
    --text-color: rgb(211, 211, 211);
    --cover-mask: linear-gradient(to right,rgba(20,20,20,.6), rgba(20,20,20,.4),transparent);
}

.dark {
    --title-color: rgb(218, 218, 219);
    --text-color: rgb(155, 156, 157);
    --cover-mask: linear-gradient(to right,rgba(20,20,20,.8), rgba(20,20,20,.6), transparent);
}

.project-entry-cover,
.project-entry-isdraft {
    font-size: 14px;
    color: var(--secondary-color);
}

.project-entry-cover-mask {
    margin-bottom: var(--gap);
    border-radius: var(--radius);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: var(--cover-mask);
    /* opacity: 30%; */
}

.project-entry-cover {
    margin-bottom: var(--gap);
    border-radius: var(--radius);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.project-entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    /* opacity: 30%; */
}

.project-entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
}

.entry-header.text-on-image:not(.dark) h2 {
    color: var(--title-color);
}

.entry-header.text-on-image:not(.dark) sup span {
    color: var(--text-color);
}

.entry-content.text-on-image:not(.dark) p {
    color: var(--text-color);
}

.entry-footer.text-on-image:not(.dark) span {
    color: var(--text-color);
}