{{- define "main" }}

<!-- List all the pages -->
<!-- {{ printf ".Sections: %#v" .Sections }} -->
<!-- {{ printf ".Pages: %#v" .Pages }} -->
<!-- {{ printf ".Kind: %#v" .Kind }} -->
<!-- {{ printf ".Page.Kind: %#v" .Page.Kind }} -->
<!-- {{ printf ".Type: %#v" .Type }} -->
<!-- {{ printf ".Layout: %#v" .Layout }} -->
<!-- {{ printf ".Parent.Kind: %#v" .Parent.Kind }} -->
<!-- {{ printf ".Site.Pages: %#v" .Site.Pages }} -->

{{- if eq .Parent.Kind "home" -}}
  {{- if .Title }}
  <header class="page-header">
    {{- partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description | markdownify }}
    </div>
    {{- end }}
  </header>
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{ .Content }}
  </div>
  {{- end }}
  {{- range (where .Site.Pages "Section" "projects") }}
    {{- range .Pages }}
      {{- if (or (eq .Layout `projects`) (eq .Layout ``))}}
        <article class="post-entry">
          <!-- {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList) }}
          {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }} -->
          {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList) }}
          {{- partial "project_cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
          <div style="position: relative;">
            <header class="entry-header {{- if .Params.cover.image }} {{- print " text-on-image" }} {{- end }}">
              <h2>
                {{- .Title }} 
                {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
              </h2>
            </header>
            {{- if (ne (.Param "hideSummary") true) }}
            <section class="entry-content {{- if .Params.cover.image }} {{- print " text-on-image" }} {{- end }}">
              <p>
                {{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}
              </p>
            </section>
            {{- end }}
            {{- if not (.Param "hideMeta") }}
            <footer class="entry-footer {{- if .Params.cover.image }} {{- print " text-on-image" }} {{- end }}">
              {{- if not .Date.IsZero -}}
              <span title='%s'>
                {{ (.Date | time.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
              </span>
              {{- end }}
            </footer>
            {{- end }}
          </div>
          <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
        </article>
      {{- end}}
    {{- end }}
  {{- end }}

{{- else }}
<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>
{{- if (eq .Page.Kind `section`)}}
<style>
  .list {
    background: white;
  }
</style>
{{- end }}

{{- end }}
<!-- end listing -->

{{- end }}{{- /* end main */ -}}